.home-buttons-container {
    display: flex;
    justify-content: space-evenly;
}

.home-buttons-container button {
    width: 100%;
    margin-bottom: 5px;
}

.home-btn-active {
    background: black;
    color: white;
}

.home-buttons-container button:hover {
    transform: scale(1);
}
