.err-msg {
    color: red;
}

.landing-signup-btn {
    margin-right: 5px;
}

.landing-btn-active {
    background: black;
    color: white;
}

.form-div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.landing-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    border: 2px solid black;
    border-radius: 5%;
    padding: 5%;
}

.landing-form input {
    padding: 10px 15px;
    margin-bottom: 5px;
    width: 80%;
}

.no-margin {
    margin: 0;
}

.landing-btn {
    margin-top: 8px;
}

@media only screen and (min-width: 700px) {
    .landing-form {
        width: 30%;
    }
}

@media only screen and (min-width: 1000px) {
    .landing-form {
        width: 25%;
    }
}

.form-loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
