.profile-header {
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid gray;
}

.profile-header-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.profile-header-scrollable {
    text-align: left;
    height: 100px;
    overflow-y: auto;
    padding-right: 10px;
}

.friend-request {
    text-align: center;
    margin-bottom: 10px;
}

.friend-request button {
    margin: 5px;
}

.friend-link {
    margin-bottom: 5px;
}

.friend-link a {
    color: rgb(9, 9, 138);
    text-decoration: none;
    font-weight: 700;
}

.friend-link a:hover {
    color: rgb(61, 61, 61);
}

@media only screen and (max-width: 600px) {
    .profile-header {
        flex-direction: column;
        align-items: center;
        border: 2px solid rgb(9, 9, 138);
    }
    .profile-header-scrollable {
        text-align: center;
    }
}
