.create-post {
    display: flex;
    padding: 15px;
    margin-bottom: 8px;
}

.create-post textarea {
    padding: 10px;
    color: black;
    width: 100%;
    resize: none;
    overflow-y: auto;
    background: rgb(184, 184, 182);
}
