.all-comments-container {
    margin: 0 10%;
}

.comment-container {
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 8px;
}

.comment-body {
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: center;
    width: 75%;
    box-sizing: border-box;
}

.comment-rest {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    box-sizing: border-box;
}

.comment-author a {
    color: rgb(61, 61, 61);
    text-decoration: none;
    font-weight: 700;
}

.comment-author a:hover {
    color: rgb(9, 9, 138);
}

.comment-nocommentsyet {
    padding-top: 5px;
    text-align: center;
}
