.post-container {
    border: 2px solid rgb(9, 9, 138);
    margin-bottom: 8px;
}

.post-container-body {
    background: white;
    width: 100%;
    font-size: 1.5rem;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}

.post-container-rest {
    display: flex;
    padding: 0 20%;
    padding-bottom: 10px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    box-sizing: border-box;
}

.post-container-like {
    display: flex;
    align-items: center;
    width: 25%;
    display: flex;
    justify-content: center;
}

.post-like-count {
    margin-left: 10px;
}

.post-container-comment {
    width: 25%;
    display: flex;
    justify-content: center;
}

.post-container-author {
    width: 25%;
    display: flex;
    justify-content: center;
}

.post-container-author a {
    color: rgb(61, 61, 61);
    text-decoration: none;
    font-weight: 700;
}

.post-container-author a:hover {
    color: rgb(9, 9, 138);
}

.post-container-date {
    width: 25%;
    display: flex;
    justify-content: center;
}

.post-container-clickable {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.display-post-comment {
    margin-right: 5px;
}

.post-container-clickable:hover {
    color: blue;
}
